body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

header {
    text-align: center;
}

form {
    margin-top: 15px;
}

input, button {
    padding: 5px;
    margin: 5px;
}

.ok {
    color: green;
}

.error {
    color: red;
}
